<nav>
    <div class="header__section header__section--active">
        <div class="header__section-title">HOME <i class="fa-solid fa-chevron-down"></i></div>
        <ul class="">
            <li><a href="/home" class="active">Updates</a></li>                
        </ul>
    </div>
    <div class="header__section">
        <div class="header__section-title">ACCOUNT  <i class="fa-solid fa-chevron-down"></i></div>
        <ul class="">
            <li><a href="/account/edit">Edit</a></li>
            <li><a href="/account/change-password">Change Password</a></li>               
        </ul>
    </div>
    <div class="header__section">
        <div class="header__section-title">ITEMS  <i class="fa-solid fa-chevron-down"></i></div>
        <ul class="">
            <li><a href="/account/edit">My Items</a></li>
            <li><a href="/account/edit">Next Due Items</a></li>
            <li><a href="/account/change-password">Add New Item</a></li>               
        </ul>
    </div>
    <div class="header__section">
        <div class="header__section-title">ORDERS  <i class="fa-solid fa-chevron-down"></i></div>
        <ul class="">
            <li><a href="/account/edit">My Orders</a></li>
            <li><a href="/account/change-password">Request New Order</a></li>               
        </ul>
    </div>
</nav>