<div class="dashboard dashboard--menu">
  <aside class="dashboard__aside">
    <div class="dashboard__aside-contain">
      <p class="dashboard__aside-title"><i class="fas fa-user-circle"></i> My Account Data</p>
      <p class="dashboard__aside-data">Marco Antonio Bustillos Quiroz</p>
      <p class="dashboard__aside-data dashboard__aside-data--email">SupportCenter@MarBust.com</p>
      <p class="dashboard__aside-data">+593982345160</p>
      <a href="/admin/user-details/1?edit=true" class="btn btn--center"><i class="fas fa-edit"></i> Edit</a>
    </div>
  </aside>
  <%- include('menu.ejs')%>
</div>