<div class="dashboard__main dashboard__main--menu">
  <div class="wrapper">
    <h1 class="main__title"><%= pageTitle %></h1>
    <hr>
    <div class="options">
      <% if (cats.length > 0) { %>
        <% for (let cat of cats) { %>
          <% if (cat.role_id <= user_role) { %>
            <a class="option<% if (!cat.active) { %> option--disabled<% } %>" <% if (cat.active) { %> href="<%= cat.url %>"<% } %>>
              <div class="option-wrapper">
                <i class="<%= cat.icon %>"></i>
                <p class="option__title"><%= cat.name %></p>
              </div>
            </a>
          <% } %>
        <% } %>
        <% } else { %>
        <p>Not Options Found!</p>
        <% } %>
    </div>
  </div>
</div>