<div class="dashboard__main dashboard__main--table">
  <div class="wrapper">
    <h1 class="main__title"><%= pageTitle %></h1>
    <hr>
    <table id="myTable" class="display">
      <thead>
          <tr>
            <% for (let headerName of table_headers) { %>
              <th><%= headerName %></th>
            <% } %>
          </tr>
      </thead>
      <tbody>
        <% for (let row of rows) { %>
          <tr>
            <% for (let cell of row) { %>
              <td><%= cell %></td>
            <% } %>
          </tr>
        <% } %>
      </tbody>
  </table>
  </div>
</div>

<script>
  
  let table = new DataTable('#myTable');
</script>