<h1>Release Updates</h1>
<ol>
  <li><b>Apr 19, 2024</b> Currently there are 2 templates (Not Auth) and Dashboard</li>
  <li><b>Apr 25, 2024</b> Some logic was implemeting for account setup, for now it's creating an User with Sequelize, checking if exists and database password not encrypted working</li>
</ol>