header {
  z-index: 2;
  background: $color-header;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include allHeight($header-height);
  .#{&} {
    &__wrapper {
      @include wrapperSettings;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
    &__logo {
      display: block;
      width: 150px;
      &-img {
        display: block;
        width: 100%;
      }
    }
    &__nav {
      @include break-max-i {
        display: none;
        margin-left: unset;
      }
      ul {
        display: flex;
        list-style: none;
        li {
          position: relative;
          a {
            cursor: pointer;
            text-decoration: none;
            display: block;
            padding: 10px 15px;
            color: $color-darkblue;
            font-weight: 600;
            transition: 0.3s;
            @include break-max-i {
              margin: unset;
            }
            &:hover,
            &.active {
              color: $color-skyblue;
            }
          }
          .sub-menu {
            display: none;
          }
          &.has-menu {
            .js-has-menu-icon {
              transition: 0.3s;
            }
            &--mobile-active {
              @include break-max-i {
                .js-has-menu-icon {
                  transform: rotate(180deg);
                }
              }
            }
            @include break-i {
              &:hover {
                .js-has-menu-icon {
                  transform: rotate(180deg);
                }
                .sub-menu {
                  z-index: 4;
                  display: block;
                  background: $color-white;
                  position: absolute;
                  transform: translateX(-25%);
                  width: 250px;
                  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
                  li {
                    a {
                      text-align: center;
                    }
                  }
                }
              }
            }
            @include break-max-i {
              .sub-menu {
                &--active {
                  display: block;
                  background: $color-header;
                  li {
                    a {
                      color: $color-darkblue;
                      &:hover {
                        color: $color-skyblue;
                      }
                      //text-align: center;
                    }
                  }
                }
              }
            }
          }
        }
      }
      &--active,
      &--desactive {
        @include break-max-i {
          position: fixed;
          z-index: 3;
          background: $color-darkblue;
          top: $header-height;
          left: 0;
          display: block;
          width: 100%;
          max-width: 300px;
          height: getBlockMargin(100vh, $header-height);
          overflow-y: auto;
          @include scrollBar;
          ul {
            flex-wrap: wrap;
            li {
              width: 100%;
              border-bottom: 1px solid $color-white;
              &:nth-last-child(1) {
                border-bottom: unset;
              }
              a {
                color: $color-white;
                padding: 15px;
                text-align: center;
              }
            }
          }
        }
      }
      &--active {
        @include break-max-i {
          animation: 0.5s appearmenu ease;
        }
      }
      &--desactive {
        @include break-max-i {
          animation: 0.5s dappearmenu ease;
          transform: translateX(-100%);
        }
      }
    }
    &__btn {
      display: none;
      @include break-max-i {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        font-size: 30px;
        color: $color-darkblue;
        transition: 0.3s;
        &:hover {
          color: $color-blue;
        }
      }
    }
  }
}