@keyframes appearmenu {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes dappearmenu {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100%);
  }
}