// Imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: Nexa-Bold;
  src: url(fonts/Nexa-Bold.otf);
}

body {
  font-family: $normal-font;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-headings;
    color: $color-darkblue;
  }
}