&__banner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: $color-blue;
  @include Banner($imgUrl, 100vh);
  &-title {
    font-size: 30px;
    @include break-s {
      font-size: 35px;
    }
    @include break-m {
      font-size: 40px;
    }
    @include break-i {
      font-size: 50px;
    }
  }
  &-description {
    margin-top: 30px;
    font-size: 25px;
    min-height: 35px;
    @include break-s {
      font-size: 30px;
    }
    @include break-m {
      font-size: 35px;
    }
    @include break-i {
      font-size: 40px;
      min-height: 50px;
    }
  }
  #home-seo-strings {
    display: none;
  }
  .wrapper {        
    &__buttons {
      margin-top: 25px;
      display: flex;
      flex-wrap: wrap;
      .btn {
        margin: 5px 0;
        &:nth-child(1) {
          margin-right: 10px;
        }
      }
    }
  }
}