&--options-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .option {
    margin: 15px;
    width: 200px;
    height: 150px;
    background: $color-darkblue;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid $color-yellow;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.12),inset 0 -1px 0 0 #dadce0;
    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
      background: $color-black;
    }
    &, * {
      color: $color-white;
    }
    &__title {
      border-bottom: 1px solid $color-blue;
      padding-bottom: 10px;
    }
    &__count {
      font-size: 40px;
      padding: 15px 0;
    }
  }
}