 <div class="page-<%= moduleSection %>__banner">
   <div class="wrapper">
     <h1 class="page-<%= moduleSection %>__banner-title">Page not found!</h1>
     <div class="wrapper__buttons">
       <a href="/" class="btn">Home <i class="fas fa-sign-in-alt"></i></a>
     </div>
   </div>
 </div>