  <div class="<%= moduleSection %>__form">
    <div class="wrapper">
      <h1>Sign up</h1>
      <form action="/account-setup/controller" method="POST">
        <p><input type="text" name="name" placeholder="Insert your name"></p>
        <p><input type="text" name="email" placeholder="Insert your email"></p>
        <p><input type="password" name="password" placeholder="Insert your password"></p>
        <p><input type="tel" name="phone" placeholder="Insert your phone number"></p>
        <button type="submit" class="btn">Create Account</button>
        <input name="form_action" value="register" hidden>
      </form>
    </div>
  </div>