  <div class="<%= moduleSection %>__banner">
    <div class="wrapper">
      <!-- Home Banner Body -->
      <%- include('home/banner')%>    
    </div>
  </div>
  <script src="/js/typed.js"></script>
  <script src="/js/home-typed.js"></script>