<form action="/account-setup/login" method="POST">
  <p><input type="text" name="email" placeholder="Insert your email"></p>
  <p><input type="password" name="password" placeholder="Insert your password"></p>
  <p class="link"><a href="/recover-password">I forgot my password</a></p>
  <button type="submit" class="btn">Login</button>
</form>
<div class="form-section__links">
  <p><a href="/register">Create an Account</a></p>
</div>