<form action="/account-setup/controller" method="POST">
  <p><input type="text" name="email" placeholder="Insert your email"></p>
  <p><input type="password" name="password" placeholder="Insert your password"></p>
  <p class="link"><a href="/password-recover">I forgot my password</a></p>
  <button type="submit" class="btn">Login</button>
  <input name="form_action" value="login" hidden>
</form>
<div class="form-section__links">
  <p><a href="/register">Create an Account</a> | </p>
</div>