<form action="/account-setup/recover-password" method="POST">
  <p><input type="text" name="email" placeholder="Insert your email"></p>
  <button type="submit" class="btn">Recover</button>
</form>
<div class="form-section__links">
  <p><a href="/login">Login</a> | <a href="/register">Create an Account</a></p>
</div>