<form action="/account-setup/register" method="POST">
  <p><input type="text" name="first_name" placeholder="Insert your first name"></p>
  <p><input type="text" name="last_name" placeholder="Insert your last name"></p>
  <p><input type="text" name="email" placeholder="Insert your email"></p>
  <p><input type="tel" name="phone" placeholder="Insert your phone number"></p>
  <p><input type="password" name="password" placeholder="Insert your password"></p>
  <button type="submit" class="btn">Create Account</button>
</form>
<div class="form-section__links">
  <p><a href="/register">Create an Account</a> | </p>
</div>