$color1: #388DCE;
$color2: #24B4ED;
$color3: #323232;
$color4: white;

.color1 {
    color: $color1;
}

.bg1 {
    background: $color1;
}

.color2 {
    color: $color2;
}

.bg2 {
    background: $color2;
}

.color3 {
    color: $color3;
}

.bg3 {
    background: $color3;
}

.color4 {
    color: $color4;
}

.bg4 {
    background: $color4;
}