// Colors
$color-blue: #388DCE;
$color-darkblue: #1f354a;
$color-skyblue: #24B4ED;
$color-black: #323232;
$color-white: white;
$color-graylight: #fafafa;
$color-yellow: #fdd428;
$color-header: rgba(255, 255, 255, 0.90);