<h1 class="home__banner-title">Marbust Accounts&reg;</h1>
<p class="home__banner-description"><span class="js-home-banner-description"></span></p>
<div id="home-seo-strings">
  <p><strong>V 2.0.0</strong>.</p>
</div>
<div class="wrapper__buttons">
  <a href="/account-setup/login" class="btn">Login <i class="fas fa-sign-in-alt"></i></a>
  <a href="/account-setup/register" class="btn btn--secondary">Create Account <i class="fas fa-user-plus"></i></a>
</div>