<div class="<%= moduleSection %>__welcome">
  <div class="wrapper wrapper--layout">
    <h1>Admin Dashboard!</h1>
    <hr>
    <div class="wrapper__body">
      <aside class="wrapper__aside">
        <p class="wrapper__aside-title"><i class="fas fa-user-circle"></i> My Account Data</p>
        <p class="wrapper__aside-data">Marco Antonio Bustillos Quiroz</p>
        <p class="wrapper__aside-data wrapper__aside-data--email">SupportCenter@MarBust.com</p>
        <p class="wrapper__aside-data">+593982345160</p>
        <a href="/admin/user-details/1?edit=true" class="btn btn--center"><i class="fas fa-edit"></i> Edit</a>
      </aside>
      <section class="wrapper__section wrapper__section--options-container">
        <a class="option" href="/admin/users/">
          <h3 class="option__title"><i class="fas fa-users"></i> Users</h3>
          <h2 class="option__count">1</h2>
        </a>
        <a class="option option--disabled" href="/admin/orders/">
          <h3 class="option__title"><i class="fas fa-tasks"></i> Orders</h3>
          <h2 class="option__count">1</h2>
        </a>
        <a class="option option--disabled" href="/admin/users-items/">
          <h3 class="option__title"><i class="fas fa-sitemap"></i> Users Items</h3>
          <h2 class="option__count">1</h2>
        </a>
      </section>
    </div>
  </div>
</div>